// Rem output with px fallback
@mixin font-size($sizeValue: 20) {
	font-size: $sizeValue * 1px;
	font-size: $sizeValue/16 * 1rem;
}

@mixin font-size-ln( $sizeValue: 20, $lnValue: 25 ) {
	@include font-size($sizeValue);
	line-height: ($lnValue/$sizeValue);
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}
