// colors
$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

// typography
$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;

$fa-font-path: "fonts";

// layout/
$size__max_content: 1445px;
$size__gutter_half: 30px;

// mq-sass https://github.com/sass-mq/sass-mq
$mq-responsive: true;
$mq-breakpoints: (
		mobile:  320px,
		tablet:  740px,
		desktop: 980px,
		wide:    1300px,
);
$mq-static-breakpoint: desktop;
$mq-show-breakpoints: (mobile, tablet, desktop, wide);