.site-branding,
.menu-primary,
.breadcrumb-trail,
.site-main,
.site-footer {
	max-width: none;
}

.site-main {
	padding-right: 0;
	padding-left: 0;
	max-width: none;
	width: 100%;
}

.entry-header,
.entry-footer,
#comments-template {
	padding-right: $size__gutter_half;
	padding-left: $size__gutter_half;
}

.content {
	padding-right: 0;
}