html {
	height: 100%;
}
body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
#container {
	flex: 1 0 auto;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.site-main {
	flex: 1 0 auto;
}

@import "layout-2c-l";
.layout-2c-r {
	@import "layout-2c-r";
}
.layout-1c-b {
	@import "layout-1c-b";
}
