.site-branding,
.menu-primary,
.breadcrumb-trail,
.site-main,
.site-footer {
	margin: 0 auto;
	padding-right: $size__gutter_half;
	padding-left: $size__gutter_half;
	max-width: $size__max_content;
	width: 100%;
}

.site-main {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.content {
	flex: 1 1 auto;
	padding-right: $size__gutter_half;
	&:only-child {
		padding-right: 0;
	}
}

.sidebar-primary {
	flex: 0 1 25%;
	padding-left: $size__gutter_half;
}